aniso8601
attrs
beautifulsoup4
blinker
certifi
cffi
chromedriver
click
colorama
Flask
Flask-Login
Flask-RESTful
Flask-WTF
greenlet
h11
idna
itsdangerous
Jinja2
lxml
MarkupSafe
outcome
pycparser
PySocks
pytz
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
SQLAlchemy-serializer
trio
trio-websocket
typing_extensions
urllib3
Werkzeug
wsproto
WTForms
