{% extends "base.html" %}

{% block content %}
<style>
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
    }
</style>
<div class="container mt-4">
    <h1 style="text-align:center;margin-bottom:20px;">Топ 100 пользователей</h1>
    <table class="table table-bordered" style="margin: auto; width: 100%;">
        <thead class="table-dark">
        <tr>
            <th>Место в топе</th>
            <th>Nickname</th>
            <th>Прогресс</th>
        </tr>
        </thead>
        <tbody>
        {% for i in top %}
        <tr>
            <td>{{loop.index}}</td>
            <td><img src={{i[2]}} alt=""> {{i[0]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}